@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:ital@1&family=Roboto:ital@1&display=swap');

.body{
    font: normal 16px 'Open Sans', sans-serif;
}

.container{
    max-width: 800px;
    margin: auto;
}

.inf{
    color: #555;
}

.img_1{
    background: #bbb;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px #222;
}

.img_1{
    transition: all .2s;
}
.img_1:hover{
    transform: scale(1.14);
}

.body{
 background: #bbb;
 color: rgb(40, 40, 41);
}

.header{
background:#ddd;
margin-bottom: 10px;
padding: 25px;
border-radius: 20px;
}

.main{
    background: #ddd;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 20px;
}

.hobby{
    margin-bottom: 30px;
}
 
.table{
    width: 85%;
    margin-left: 20px;
}

.connection{
    background: #ddd;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 20px;
}

.footer{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px; 
    margin: auto;
    max-width: 50%;
}

a{
    color: #444;
    text-decoration: none;
}
a:hover{
    color: #44ca56;

}
 
 .btn{
    background-color: #caebff;
    cursor: pointer;
    border-radius: 5px;
 }

 .btn:hover{
     opacity: 0.7;
 }